@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: #101010;
  --color-foreground: #EEEEEE;
  --color-muted-foreground: #B5B5B5;

  --color-card: #151515;
  --color-border: #252525;
}

body {
  background: #101010;
  font-family: Arial, Helvetica, sans-serif;
}